@import '~scss/variables';

.shots{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 80%;
	margin: 0 auto;

	@media screen and ($xs-display) {
		flex-direction: column;
	}

	.loader {
		width: 100%;
		text-align: center;
	}
}
