.shot-detail {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	.shot {
		height: auto;
		width: 500px;
		margin-right: 20px;
	}

	.like-shot {
		cursor: pointer;

		img {
			width: 25px;
			height: 25px;
			position: relative;
			top: 5px;
		}
	}

}
