@import '~scss/variables';

.shot {
	height: 220px;
	background: #FFF;
	width: calc(100% / 4 - 50px);
	margin-bottom: 40px;
	padding: 10px;

	&-thumbnail {
		text-decoration: none;
    color: #000;
    font-size: 15px;
	}

	@media screen and ($md-display) {
		width: calc(100% / 3 - 50px);
	}

	@media screen and ($sm-display) {
		width: calc(100% / 2 - 50px);
	}

	@media screen and ($xs-display) {
		width: calc(100%);
	}

	&-author {
		height: 40px;
		margin-top: 15px;
		
		img {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			position: relative;
			top: 5px;
		}

		a {
			text-decoration: none;
	    font-size: 13px;
	    font-weight: bold;
	    margin-left: 5px;
			color: #000;
		}
	}

	figure {
		 margin: 0;

		 img {
		 	width: 100%;
		 }

		 figcaption {
			 white-space: nowrap;
			 overflow: hidden;
			 text-overflow: ellipsis;
		 }
	}

}
